<div class="dashBoard main-wrapper">

    <app-sidebar class="side-menu" [toggleSide]="toggleSide" (sidebarTrigger)="toggleSide = false"></app-sidebar>
    <!-- .p-0 -->
    <div class="main-container container-fluid">

        <app-header (sidebarTrigger)="toggleSide = true"></app-header>

        <div class="container-fluid">
            <div class="main-content">

                <div id="content">
                    <router-outlet></router-outlet>
                </div>

            </div>
        </div>

    </div>
</div>