<nav class="navbar head-nav">
    <h2>{{ 'categories.categoryList' | translate }}</h2>
</nav>
<div class="page">
    <div class="page-filters">
        <span class="total-count"><span>{{recordsData.length}}</span> {{ 'categories.categories' |
            translate }}</span>
        <div class="filters-container">
            <div class="search-input">
                <div *ngIf="showSearch" class="form-group">
                    <input [(ngModel)]="searchText" class="form-control">
                    <span (click)="resetSearch(); showSearch = false;" class="reset-btn"> <i
                            class="fa-regular fa-close"></i></span>
                </div>
                <button (click)="showSearch = true" class="btn-search">
                    <i class="fa-regular fa-search"></i>
                </button>
            </div>
            <button (click)="showFilter = !showFilter" [ngClass]='{"active": showFilter}'
                class="btn dropdown-custom dropdown-toggle">
                <img src="../../../assets/images/filter-icon.svg" alt="">
                <span>{{ 'general.Filter' | translate }}</span>
                <svg width="8" height="5.001" viewBox="0 0 8 5.001">
                    <path id="menu-icon" d="M-3.562-9.316-.5-6.215l3.062-3.1.938.949-4,4.051-4-4.051Z"
                        transform="translate(4.5 9.316)" fill="#a64bf4" opacity="0.8" />
                </svg>
            </button>
            <div class="create-item" (click)="addCategory()">
                <a class="customBtn" mat-raised-button color="primary">
                    <span>{{ 'categories.addCategory' | translate }}</span>
                </a>
            </div>

        </div>
        <div class="filter-section" [hidden]="!showFilter">
            <h4 class="title">{{ 'general.FilterBy' | translate }}</h4>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <label for="categories">{{'categories.categories' | translate}}</label>
                    <select class="form-select" #selectedCategory aria-label="Category"
                        (change)="filterByCategory(selectedCategory.value)" [disabled]="loadingCategories"
                        name="categories">
                        <option selected value="all">{{'categories.AllCategories' | translate}}</option>
                        <option *ngFor="let cat of allCategories" value="{{cat}}">{{cat}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf='loadingCategories' class="loadingCategories">
        <mat-spinner class="m-auto" diameter="50"></mat-spinner>
    </div>
    <ng-container *ngIf='!loadingCategories'>
        <div *ngIf="recordsData && (recordsData | search: searchText).length; else dataEmpty">
            <div class="table-responsive" *ngIf="recordsData.length; else dataEmpty">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th width="65%">{{ 'products.category' | translate }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let record of recordsData | search: searchText; index as i">
                            <td>
                                <div class="name-with-image">
                                    <div class="image-circle mr-3">
                                        <div class="image m-0">
                                            <span>
                                                {{ record | shortName }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="name">
                                        <h5>{{record}}</h5>
                                    </div>
                                </div>

                            </td>
                            <td>
                                <div class="btn-actions">
                                   
                                    <button title="edit product" class="btn" (click)="editCategory(record)"><i class="fa-regular fa-edit"></i></button>

                                    <button title="delete product" class="btn text-danger"
                                       [class.loading]="ApprovalLoading"
                                        [disabled]="ApprovalLoading"  (click)="deleteCategory(record)"><i class="fa-regular fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>
    <ng-template #dataEmpty>
        <div class="data-empty">
            <img src="../../../assets/images/not-found.avif" />
            <p>{{ 'general.NoDataFound' | translate }}</p>
        </div>
    </ng-template>
</div>